# Gemini API
GEMINI_API_KEY=

# 2Checkout (Now Verifone) - Better support for Pakistan & Saudi Arabia
TWOCHECKOUT_MERCHANT_CODE=
TWOCHECKOUT_SECRET_WORD=
TWOCHECKOUT_SECRET_KEY=
VITE_TWO_CHECKOUT_PRICE_STARTER=
VITE_TWO_CHECKOUT_PRICE_PRO=
VITE_TWO_CHECKOUT_PRICE_ENTERPRISE=
VITE_TWO_CHECKOUT_MODE=sandbox # 'sandbox' or 'production'

# Encryption
VITE_ENCRYPTION_KEY=
